
<nav class="navbar navbar-light bg-light px-3">
  <a class="navbar-brand fw-bold text-primary">ChatHaven</a>
  <div>
    <button (click)="goToChannelSelector()" class="btn btn-outline-primary me-2">
      Channel Selector
    </button>
    <button (click)="logOut()" class="btn btn-outline-danger">
      Log Out
    </button>
  </div>
</nav>

<div class="container">
  
  <h2>Channel Chat: {{ channelName }}</h2>
  <div class="messages">
    <div *ngFor="let msg of messages" class="message-bubble">
      <strong>{{ msg.sender }}:</strong>
      <p>{{ msg.message }}</p>
      <!--<span class="timestamp">{{ msg.timestamp }}</span>-->
      <span class="timestamp">{{ msg.timestamp | date:'h:mm a' }}</span>

      <button *ngIf="currentUser.isAdmin" (click)="deleteMessage(msg.id)" class="delete-btn p-0 me-2">
        ❌
      </button>
      

    </div>
  </div>
  <div class="input-container">
    <input type="text" [(ngModel)]="newMessage" placeholder="Type a message..." />
    <button (click)="toggleEmojiPicker()" class="btn btn-secondary">😊</button>
    <button (click)="sendMessage()" class="btn btn-primary">Send</button>
  </div>

  <div *ngIf="showEmojiPicker" class="emoji-picker-container">
    <emoji-picker (emoji-click)="addEmoji($event)"></emoji-picker>
  </div>
</div>
