<div class="d-flex">
    <div class="bg-dark" style="width: 250px; height: 100vh;">
      <div class="p-3 text-white">
        <h1>Channels</h1>
        <ul>
          <li *ngFor="let channel of channels; index as i">
              <button (click)="selectChannel(i)" class="btn btn-primary w-100 mt-3">{{channel.title}}</button>
              <button (click)="deleteChannel(i)" class="btn btn-light w-30 mt-1 mb-4" >Delete</button>
          </li>
        </ul>
        <input class="w-100 mt-4" [(ngModel)]="newChannelTitle" placeholder="Channel Name">
        <button (click)="addChannel()" class="btn btn-primary w-100 mt-3" >Create Channel</button>
      </div>
    </div>
    <div class="flex-grow-1 p-4 bg-white">
      <h1 class="bg-white">{{currentChannel.title}}</h1>
  </div>
  </div>