<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">

</head>
<body>

<!--ProfileButtonHtml-->
<div class="dropdownProfileMenu">
  <button onclick="myFunction()" class="profileButton"><i><img src="https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAxL3JtNjA5LXNvbGlkaWNvbi13LTAwMi1wLnBuZw.png" alt="" class="profileImage"></i></button>
  <div id="myDropdown" class="dropdownMenu-content">
    <a href="#" id="logoutPage">Logout</a>
  </div>
</div>

<script src="logout.js"></script>
<!--End of ProfileButtonHtml-->

</body>
</html>
