h1{
    color: rgb(108, 14, 72);
    font-family: 'Lobster', sans-serif;
    font-size: 50px;
    margin-left: 28px;
    margin-top: -15px;
}

.header-container {
    text-align: center; 
    margin-top: 50px; 
}


/* Login Box Container */
.login-container {
    width: 400px;
    margin: 80px auto;
    padding: 25px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
}

/* Login Title */
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(108, 14, 72);
    font-family: Arial, sans-serif;
    font-size: 24px;
}

/* Label Styles */
.login-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #902569; /* Deep pink */
}

/* Input Fields */
.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #bd298e;
    border-radius: 5px;
    font-size: 14px;
}

/* Login Button */
.login-container button {
    width: 420px; /*length of the box*/
    padding: 7px; /*thickness of the box*/
    background-color: #902569;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.login-container button:hover {
    background-color: rgb(190, 79, 109);
}

/* Create Link Container */
.create-container {
    text-align: center;
    margin-top: 15px;
}

/* Styling the "Create" link inside the create-container */
.create-container a {
    color: #902569;; /* Set the initial color to yellow */
    text-decoration: none; /* Remove underline */
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.create-container a:hover {
    color: rgb(190, 79, 109); /* Change the text color to blue on hover */
    text-decoration: "none"; /* Add underline on hover */
}

/*'Don't have an account' label */
.account-label {
    display: block; 
    margin-top: 20px; 
    text-align: center; 
    font-size: 14px; 
    color: #902569; 
}


