
<h1>ChatBox</h1>

<router-outlet></router-outlet>

<div class="login-container">
    <!--<h2>Login</h2>-->
    <div class="header-container">
        <img src="assets/profil-icon-9.png" alt="Profile Icon" class="header-image">
        
    </div>
    
    <form>
        <!-- Username -->
        <label for="username" class="username-label">USERNAME</label>
        <input type="text" id="username" placeholder="Enter your username" />

        <!-- Password -->
        <label for="password" class="password-label">PASSWORD</label>
        <input type="password" id="password" placeholder="Enter your password" />

        <!-- Login Button -->
        <button type="submit" class="login-button">Login</button>

        <!-- Already have an account -->
        <label class="account-label">Don't have an account? <a href="#">Create</a></label>
    </form>
</div>

